<input type="text" (input) = "searchMovie($event.target.value)"/>
<button (click) = "handelClick()" class = "buttonSearch">Search</button>

<ng-container *ngIf = "movies && showAll">
    <app-movies-items 
    *ngFor = "let movie of movies" 
    [movie]="movie"
    (click) = "getMovie(movie.id)"
    >
</app-movies-items>

    <div *ngIf = "movies.length === 0">
        no result
    </div>
</ng-container>


<app-single-movie [item] = "singleMovie" *ngIf = "singleMovie && showAll === false" ></app-single-movie>







